@{
    ViewBag.Title = "Contact";
}
<h2>Informações Úteis</h2>
<h3>Atendimento Presencial</h3>

<address>
    Rua Senador Dantas<br />
    117 - Sobreloja 211<br />
                       <br />
    <strong>Nossos Contatos</strong>
    <br /> 
    <abbr title="Telefone">Telefones:</abbr>
    (21) 3983-3200 / (21) 3514-0800
    <br />  
    <abbr title="Whatsapp">Whatsapp:</abbr>
    (21) 3983-3200

</address>

<address>
    <strong> <a href="https://www.facebook.com/appairj/"> Facebook / </a></strong>
    <strong> <a href="https://www.instagram.com/appairj/"> Instagram / </a></strong>
    <strong> <a href="https://www.linkedin.com/company/appairj/"> Linkedin / </a></strong>
    <strong> <a href="https://twitter.com/appairj"> Twitter / </a></strong>
    <strong> <a href="https://www.youtube.com/user/appairj"> Youtube </a></strong>
</address>