@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Appai</h1>
    <h2 >CONSTRUINDO UM NOVO CONCEITO DE FELICIDADE.</h2>
    <p>
        <strong >Quem somos?</strong> <br />
        A Appai é uma Associação sem fins econômicos, com anos de existência, que disponibiliza alguns benefícios.
        Dentre eles: Educação Continuada (Ciclo de palestras), Jurídico, Jornal Appai Educar, Dança de Salão, Benefício Médico Ambulatorial Básico (sem internação), Benefício Odontológico Básico (ambulatorial),
        Seguro de Vida em Grupo, Seguro de Acidente Pessoal Coletivo, Seguro Decessos (Assistência Funeral), Seguro de Algumas Doenças Graves, Serviço Social e ainda alguns convênios e parcerias opcionais.
    </p>
    <p><a href="https://www.appai.org.br/" class="btn btn-primary btn-lg">Saiba Mais... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nossa Missão</h2>
        <p>
            Criar condições e oportunidades para proporcionar a busca do aperfeiçoamento contínuo, 
            qualidade de vida e lazer dos filiados e seus beneficiários,
            como cidadãos e profissionais, além de colaborar para o desenvolvimento e a manutenção do equilíbrio social.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Nossa Visão</h2>
        <p>
            Ser reconhecida pelos Órgãos Públicos e pela Sociedade em geral, 
            na qualidade de Entidade de Terceiro Setor, como Associação de Classe Referência em valorização pessoal 
            e profissional e como Agente de melhoria e transformação social.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Nossos Valores</h2>
        <p> Ética, Respeito, Simplicidade, Cooperação, Transparência, Solidariedade,
        Compromisso Social e Ambiental, Hábitos Saudáveis, Integração, Flexibilidade,
        Dignidade, Comprometimento, Sinergia, Tolerância, Confiança e Responsabilidade.</p>
       
    </div>
</div>